<body>
        <div>
            <table class="table table-1">
                <thead>
                    <th>Código</th>
                    <th>Stock</th>
                    <th>Precio</th>
                </thead>
    
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>25</td>
                        <td>$12.95</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>75</td>
                        <td>$15</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>25</td>
                        <td>$12.95</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>75</td>
                        <td>$15</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>25</td>
                        <td>$12.95</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>75</td>
                        <td>$15</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>25</td>
                        <td>$12.95</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>75</td>
                        <td>$15</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>25</td>
                        <td>$12.95</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>