@import "../../../scss/variables";

*
{
    margin: 0%;
    padding: 0%;
}

body
{
    // position: absolute;
    // top: 8%;
    // left: 2%;
    // right: 1%;
}

div
{
    position: absolute;
    top: 8%;
    left: 50%;
    right: 1%;
    height: 700px; 
    overflow: auto;
}

.table {
    margin-bottom: 20px;
    border-collapse: collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
            border-radius: 3px;
           -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
    width: 100%;
}
.table th, .table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
                inset 0 1px rgba(0,0,0,0.25);
}
.table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
}
.table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
    text-align: center;
}
.table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.table-1 {
    background: $medium_blue;
}
.table-1 tr:hover {
    background: rgba(0,0,0,0.19);
}