@import "../../../scss/variables";
@import "../../../scss/mixins";

@include tables(35%);
@include options($medium_blue);
@include buttons($medium_blue, $silver);

body
{
    margin: 0%;
    padding: 0%;
}

input{
    position: absolute;
    top: 10%;
    left: 5%;
}