@import "../../../scss/variables";
@import "../../../scss/mixins";

@include tables(40%);

body
{
    margin: 0%;
    padding: 0%;
}
.options{
    border: 1px solid;
    top:20%;
    padding: 20px; 
    position: absolute;
    width: 27%;
    height: 40%;
    left: 40px;
    .uno {
        padding: 10px;
        position: absolute;
        width: 35%;  
    }
    .dos {
        padding: 10px;
        position: absolute;
        margin-top: 50px;
        width: 35%; 
        
    }
    .tres {
        padding: 10px;
        position: absolute;
        margin-top: 100px;
        width: 35%; 
    }
    .cuatro {
        padding: 10px;
        position: absolute;
        margin-top: 150px;
        width: 35%; 
    }
    .cinco {
        padding: 10px;
        position: absolute;
        margin-top: 200px;
        width: 35%; 
    }
    .seis {
        padding: 10px;
        position: absolute;
        margin-left: 200px;
        width: 35%; 
    }
    .siete {
        padding: 10px;
        position: absolute;
        margin-left: 200px;
        margin-top: 50px;
        width: 35%; 
    }
    .ocho {
        padding: 10px;
        position: absolute;
        margin-top: 100px;
        margin-left: 200px;
        width: 35%; 
    }
    .nueve {
        padding: 10px;
        position: absolute;
        margin-top: 150px;
        margin-left: 200px;
        width: 35%; 
    }
    .diez {
        padding: 10px;
        position: absolute;
        margin-top: 200px;
        margin-left: 200px;
        width: 35%; 
    }

   
}