<body>
  <div class="tablediv">
    <table class="table table-1">
      <thead *ngFor="let item of table_header">
          <th>{{item.id}}</th>
          <th>{{item.cliente}}</th>
          <th>{{item.fecha_orden}}</th>
          <th></th>
      </thead>

      <tbody>
          <tr *ngFor="let item of respuesta">
            <td>{{ item.id }}</td>
            <td>{{ item.idclientes }}</td>
            <td>{{ item.fecha_orden }}</td>
            <td>
              <a type="button" onclick="document.getElementById('id05').style.display='block'">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <img src="../../../assets/edit-img.png" alt="edit-img" height="18" width="18">
                </a>
                <a type="button">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <img src="../../../assets/details.ico" alt="details-img" height="18" width="18">
                </a>
                <a type="button" (click)="deleteDataTable(item.id)">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                </a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="options">
    <strong>CLIENTE</strong><br><br>
    <select [(ngModel)]="idclientes" name="idclientes">
        <!-- <option selected> Seleccionar cliente... </option> -->
        <option *ngFor="let item of respuestaClientes" value={{item.id}}>{{item.apellido}} {{item.nombre}}</option>
    </select><br><br><br><br>
    <a type="button" class="cliente_modal_style" onclick="document.getElementById('id04').style.display='block'">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <img src="../../../assets/new-user-img.svg" alt="new-user-img" height="18" width="18">
    </a>

    <a type="button" (click)="postDataTable()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Generar Orden
    </a>
  </div>


  <!-- ---------------------------------------INICIO Modal Cliente--------------------------------------------------------- -->

  <div>
    <div id="id04" class="w3-modal">
      <div class="w3-modal-content">
        <header>
          <span onclick="document.getElementById('id04').style.display='none'"
            class="w3-display-topright">&times;</span>
          <h2>Registro Cliente</h2>
        </header>

        <div class="optione">
          <strong>IDENTIFICACIÓN</strong><br>
          <input type="number" [(ngModel)]="idClientes" name="idClientes" placeholder="Cédula o RUC">
          <br><br>

          <strong>NOMBRE</strong><br>
          <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
          <br><br>
  
          <strong>APELLIDO</strong><br>
          <input type="text" [(ngModel)]="apellido" name="apellido" placeholder="Apellido">
          <br><br>
  
          <strong>TELEFONO</strong><br>
          <input type="number" [(ngModel)]="telefono" name="telefono" placeholder="Telefono">
          <br><br>
  
          <strong>DIRECCION</strong> <br>
          <input type="text" [(ngModel)]="direccion" name="direccion" placeholder="Direccion">
          <br><br>

          <a type="button" (click)="postDataClientes()">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Guardar
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------FIN Modal Cliente--------------------------------------------------------- -->


  <!-- ---------------------------------------INICIO Modal Detalle_Ordenes--------------------------------------------------------- -->

  <div class="w3-container">
    <div id="id05" class="w3-modal">
      <div class="w3-modal-content">
        <header>
          <span onclick="document.getElementById('id05').style.display='none'"
            class="w3-display-topright">&times;</span>
          <h2>Registro Cliente</h2>
        </header>
              
        <div class="optione">
          <strong>TIPO DE PRENDA</strong><br>
          <select [(ngModel)]="idBoton" name="idBoton">
              <option *ngFor="let item of respuestaTipo_de_prenda" value={{item.id}}>{{item.nombre}}</option>
          </select>
          <input type="number" name="cantidad" placeholder="Cantidad"><br>
          <br>

          <strong>TALLA DE LA PRENDA</strong><br>
          <select [(ngModel)]="idBoton" name="idBoton">
              <option *ngFor="let item of respuestaTalla" value={{item.id}}>{{item.nombre}}</option>
          </select>
          <br><br>

          <strong>ETIQUETAS</strong><br>
          <select [(ngModel)]="idEtiqueta" name="idEtiqueta">
              <option *ngFor="let item of respuestaEtiquetas" value={{item.id}}>{{item.nombre}}</option>
          </select>
          <input type="number" name="cantidad" placeholder="Cantidad"><br>
          <br>
  
          <strong>BOTONES</strong><br>
          <select [(ngModel)]="idBoton" name="idBoton">
              <option *ngFor="let item of respuestaBotones" value={{item.id}}>{{item.nombre}}</option>
          </select>
          <input type="number" name="cantidad" placeholder="Cantidad"><br>
          <br>
  
          <strong>HILOS</strong><br>
          <select [(ngModel)]="idHilo" name="idHilo">
              <option *ngFor="let item of respuestaHilos" value={{item.id}}>{{item.nombre}}</option>
          </select>
          <input type="number" name="cantidad" placeholder="Cantidad"><br>
          <br>
  
          <strong>TELAS</strong><br>
          <select [(ngModel)]="idTela" name="idTela">
              <option *ngFor="let item of respuestaTelas" value={{item.id}}>{{item.nombre}}</option>
          </select>
          <input type="number" name="edad" placeholder="Cantidad en Metros"><br>
          <br>
        </div>
      </div>
    </div>
  </div>

</body>