<body>
    <div class="tablediv">
        <table class="table table-1">
            <thead *ngFor="let item of table_header">
                <th>{{item.id}}</th>
                <th>{{item.cliente}}</th>
                <th>{{item.fecha_orden}}</th>
                <th>Mas INFO</th>
            </thead>

            <tbody>
                <tr *ngFor="let item of respuesta">
                    <td>{{ item.id }}</td>
                    <td>{{ item.idclientes }}</td>
                    <td>{{ item.fecha_orden }}</td>
                    <td>
                        <a type="button" class="tablebutton">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <img src="../../../assets/edit-img.png" alt="edit-img" height="24" width="24">
                        </a>
                        <a type="button" class="tablebutton">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <img src="../../../assets/details.ico" alt="details-img" height="24" width="24">
                        </a>
                        <a type="button" class="tablebutton" (click)="deleteDataTable(item.id)">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <img src="../../../assets/delete-img.png" alt="delete-img" height="24" width="24">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="options">
        <strong>CLIENTE</strong><br><br>
        <select [(ngModel)]="idclientes" name="idclientes">
            <option *ngFor="let item of respuestaClientes" value={{item.id}}>{{item.apellido}} {{item.nombre}}</option>
        </select><br><br><br><br>

        <!-- <strong>BOTONES</strong><br>
        <select [(ngModel)]="idBoton" name="idBoton">
            <option *ngFor="let item of respuestaBotones" value={{item.id}}>{{item.nombre}}</option>
        </select><br><br>

        <strong>HILOS</strong><br>
        <select [(ngModel)]="idHilo" name="idHilo">
            <option *ngFor="let item of respuestaHilos" value={{item.id}}>{{item.nombre}}</option>
        </select><br><br>

        <strong>TELAS</strong> <br>
        <select [(ngModel)]="idTela" name="idTela">
            <option *ngFor="let item of respuestaTelas" value={{item.id}}>{{item.nombre}}</option>
        </select><br><br> -->

        <a type="button" (click)="postDataTable()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Enviar
        </a>
    </div>
</body>