<body>
        <div>
            <table class="table table-1">
                <thead *ngFor="let item of table_header">
                    <th>{{item.id}}</th>
                    <th>{{item.tela}}</th>
                    <th>{{item.boton}}</th>
                    <th>{{item.hilo}}</th>
                    <th>{{item.etiqueta}}</th>
                    <th>{{item.empleado}}</th>
                </thead>
    
                <tbody>
                    <tr *ngFor="let item of respuesta">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.comentario }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>