<body>
    <div id="section-1">
        <div class="content">
            <h1> "Indutexco" <br> Empresa de Textiles </h1>
        </div>
    </div>

    
    <div id="informacion">
        <h1>Informacion</h1>
        <div class="mision">
            <img src="../../assets/mision.jpg" >
            <h2>MISION</h2>
            <p>Elaborar productos textiles e innovadores de alta calidad que satisfagan las necesidades de nuestros clientes, brindando siempre un servicio de excelencia, capacitando para así lograr la rentabilidad que permita el crecimiento de nuestra empresa. </p>
        </div>

        <div class="vision">
            <img src="../../assets/vision.jpg" >
            <h2>VISION </h2>
            <p>Ser una empresa líder en textiles reconocida por su innovación, calidad y servicio a nivel nacional, promoviéndose siempre como una oportunidad para asociarse con cualquier industria y describiéndose como un lugar extraordinario para trabajar.</p>
        </div>
    </div>
</body>