@mixin button($colors) {
    @if $buttons{
        display: inline-block;
        margin: 1em;
        color: map-get($buttons-color, nth($colors,1) );
        background-color: transparent;
        border: none;
    }
    @else{
        display: none;
    }
    a{
        text-decoration: none;
    }
    &:hover{
        bottom: $blanco;
        top: $blanco;
    }
    @if length($colors)>1{
        @for $i from 2 through length($colors){
            &.#{nth($colors,$i)}
            {
                background-color: map-get($buttons-color, nth($colors, $i));
                color: rgb(49, 48, 48);
                padding: 20px;                     
            }      
        }   
    }@else
    {
        display: none;
    }
}

@mixin letra_ti 
{
    font-weight: 16px;
    font-family: 'Libre Baskerville', serif;
    color:$white;
    text-align: center;
    padding: 14PX 0;
}

@mixin letra_lab 
{
    color: $white;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
}

@mixin center-horizontal 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}