$letra: Arial, Helvetica, sans-serif;
$celeste: #4dabeb;
$blanco-celeste: rgb(193, 230, 240);
$blanco: #ffff;
$negro: #020202;
$azul: #024cbd;
$verde: #15d13e;

$tamaño-letra: 19px;
$buttons: true !default;

$buttons-color: (
  primario: black,
  secundario: yellow,
  alerta: red,
  cta: orange,
  verde: green,
);

$marron: #614014;
$white: #fff;
$claron: #f29718;
$negro: #000;
$cafe: #48351a;

$letra: "Libre Baskerville", serif;
$source_titles: fantasy;
