<body>
        <div class="grid-container">
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
                    
            <header class="header">
                <div class="header__search">Search...</div>
                <div class="header__avatar">Your face</div>
               
            </header>

            <aside class="sidenav">
                    <div id="logo">
                            <a href="index.html"><img src="../assets/img/android-icon-96x96.png" alt="" title="" /></a>
                    </div>
                    <div class="Formularios">

    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <div class="conta-img">
            <div class="information">
              <button onclick="document.getElementById('id01').style.display='block'" class="w3-buttonw3-black"> ORDEN DE TRABAJO</button>
      ￼
              <p class="description"> </p>
              <!-- modal -->
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
              <div class="w3-container">
      
      
      
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-animate-top w3-card-4">
                    <header class="w3-container w3-teal">
                      <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                      <h2>Orden de trabajo</h2>
                    </header>
                
<!-- form -->
<!-- form -->
<!-- form -->

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#tabNewProduct" class="mdl-tabs__tab is-active">Nueva</a>
            <a href="#tabListProducts" class="mdl-tabs__tab">Orden</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewProduct">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="full-width panel mdl-shadow--2dp">
                                <div class="full-width panel-tittle bg-primary text-center tittles">
                                        New Product
                                    </div>
                                    <div class="full-width panel-content">
                                            <form>
                                                <div class="mdl-grid">
                                                        <div class="mdl-cell mdl-cell--12-col">
                                                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; BASIC INFORMATION</legend><br>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="number" pattern="-?[0-9- ]*(\.[0-9]+)?" id="BarCode">
                                                                    <label class="mdl-textfield__label" for="BarCode">Barcode</label>
                                                                    <span class="mdl-textfield__error">Invalid barcode</span>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameProduct">
                                                                    <label class="mdl-textfield__label" for="NameProduct">Name</label>
                                                                    <span class="mdl-textfield__error">Invalid name</span>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="StrockProduct">
                                                                    <label class="mdl-textfield__label" for="StrockProduct">Units</label>
                                                                    <span class="mdl-textfield__error">Invalid number</span>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9.]*(\.[0-9]+)?" id="PriceProduct">
                                                                    <label class="mdl-textfield__label" for="PriceProduct">Price</label>
                                                                    <span class="mdl-textfield__error">Invalid price</span>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="discountProduct">
                                                                    <label class="mdl-textfield__label" for="discountProduct">% Discount</label>
                                                                    <span class="mdl-textfield__error">Invalid discount</span>
                                                                </div>	
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--12-col">
                                                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; CATEGORY</legend><br>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--12-col">
                                                                <div class="mdl-textfield mdl-js-textfield">
                                                                    <select class="mdl-textfield__input">
                                                                        <option value="" disabled="" selected="">Select category</option>
                                                                        <option value="">Category 1</option>
                                                                        <option value="">Category 2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--12-col">
                                                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; SUPPLIER DATA AND MODEL</legend><br>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--12-col">
                                                                <div class="mdl-textfield mdl-js-textfield">
                                                                    <select class="mdl-textfield__input">
                                                                        <option value="" disabled="" selected="">Select provider</option>
                                                                        <option value="">Provider 1</option>
                                                                        <option value="">Provider 2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="text"  id="modelProduct">
                                                                    <label class="mdl-textfield__label" for="modelProduct">Model</label>
                                                                    <span class="mdl-textfield__error">Invalid model</span>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="text" id="markProduct">
                                                                    <label class="mdl-textfield__label" for="markProduct">Mark</label>
                                                                    <span class="mdl-textfield__error">Invalid Mark</span>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--12-col">
                                                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; OTHER DATA</legend><br>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield">
                                                                    <input type="date" class="mdl-textfield__input">
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield">
                                                                    <select class="mdl-textfield__input">
                                                                        <option value="" disabled="" selected="">Select status</option>
                                                                        <option value="">Active</option>
                                                                        <option value="">deactivated</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                                                <div class="mdl-textfield mdl-js-textfield">
                                                                    <input type="file">
                                                                </div>
                                                            </div>
                                                </div>
                                               
                                            </form>
                                    </div>

                        </div>
                    </div>
                </div>
        </div>


</div>


  <!-- form -->
  <!-- form -->
  <!-- form -->
  <!-- form -->

                    <footer class="w3-container w3-teal">
                      <p></p>
                    </footer>
                  </div>
                </div>
              </div>
              <!--boton modal-->
          </div>
        </div>

    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->


    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <div class="conta-img">
            <div class="information">
              <button onclick="document.getElementById('id05').style.display='block'" class="w3-buttonw3-black"> PERSONAL</button>
      ￼
              <p class="description"> </p>
              <!-- modal -->
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
              <div class="w3-container">
      
      
      
                <div id="id05" class="w3-modal">
                  <div class="w3-modal-content w3-animate-top w3-card-4">
                    <header class="w3-containerw3-teal">
                      <span onclick="document.getElementById('id05').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                      <h2>Registrar</h2>
                    </header>
                
<!-- form -->
<!-- form -->
<!-- form -->

			  <div class="form-container">
        <form [formGroup] = "loginForm" class="formulario" >
                <div class="r"><h1>Registro</h1></div> 
                <input type="text" formControlName = "usuario" placeholder="Usuario">
                <input type="text" formControlName = "mail" placeholder="Correo">
                <span *ngIf="mail">El mail no es correcto</span>
            
            
                <div class="form" formArrayName = "items" *ngFor="let items of loginForm.get('items').controls;  let i = index">
                        <input type="text" formControlName = "usuario" placeholder="Usuario">
                        <input type="text" formControlName = "mail" placeholder="Correo">
                    <div [formGroupName] = "i">
                        <select formControlName = "ciudad" (change)="actualiza1()">
                            <option value="999">Seleccionar sexo...</option>
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
               
                </div>
                <button (click)="addDireccion()" class="btn-send">Agregar Usuario Secundario</button>
            {{verDireccion}}
            </form>
        
     	   <button (click)="verificarLoginForm()" class="btn-send">Registrar</button>
        
  </div>
  <!-- form -->
  <!-- form -->
  <!-- form -->
  <!-- form -->

                    <footer class="w3-container w3-teal">
                      <p></p>
                    </footer>
                  </div>
                </div>
              </div>
              <!--boton modal-->
          </div>
        </div>

    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->

    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <div class="conta-img">
            <div class="information">
              <button onclick="document.getElementById('id03').style.display='block'" class="w3-buttonw3-black">INVENTARIO</button>
      ￼
              <p class="description"> </p>
              <!-- modal -->
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
              <div class="w3-container">
      
      
      
                <div id="id03" class="w3-modal">
                  <div class="w3-modal-content w3-animate-top w3-card-4">
                    <header class="w3-container w3-teal">
                      <span onclick="document.getElementById('id03').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                      <h2>Registrar</h2>
                    </header>
                
<!-- form -->
<!-- form -->
<!-- form -->
<section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-store"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis accusamus fuga harum natus molestias necessitatibus.
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <div class="table-responsive">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th>Code</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                            <td>Product Code</td>
                            <td>7</td>
                            <td>$77</td>
                            <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
               

  <!-- form -->
  <!-- form -->
  <!-- form -->
  <!-- form -->

                    <footer class="w3-container w3-teal">
                      <p></p>
                    </footer>
                  </div>
                </div>
              </div>
              <!--boton modal-->
          </div>
        </div>

    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->
    <!-- Formulaario de registro -->

                    </div>



                
                    <div class="sidenav__close-icon">
                            <i class="fas fa-times"></i>
                    </div>
                    
            </aside>
                <main class="main">
                        
                                <section class="full-widthtext-center" style="padding: 40px 0;">
                                    <h3 class="text-center tittles">RESPONSIVE TILES</h3>
                                    <!-- Tiles -->
                                    <article class="full-width tile">
                                        <div class="tile-text">
                                            <span class="text-condensedLight">
                                                2<br>
                                                <small>Administrators</small>
                                            </span>
                                        </div>
                                        <i class="zmdi zmdi-account tile-icon"></i>
                                    </article>
                                    <article class="full-width tile">
                                        <div class="tile-text">
                                            <span class="text-condensedLight">
                                                71<br>
                                                <small>Clients</small>
                                            </span>
                                        </div>
                                        <i class="zmdi zmdi-accounts tile-icon"></i>
                                    </article>
                                    <article class="full-width tile">
                                        <div class="tile-text">
                                            <span class="text-condensedLight">
                                                7<br>
                                                <small>Providers</small>
                                            </span>
                                        </div>
                                        <i class="zmdi zmdi-truck tile-icon"></i>
                                    </article>
                                    <article class="full-width tile">
                                        <div class="tile-text">
                                            <span class="text-condensedLight">
                                                9<br>
                                                <small>Categories</small>
                                            </span>
                                        </div>
                                        <i class="zmdi zmdi-label tile-icon"></i>
                                    </article>
                                    <article class="full-width tile">
                                        <div class="tile-text">
                                            <span class="text-condensedLight">
                                                121<br>
                                                <small>Products</small>
                                            </span>
                                        </div>
                                        <i class="zmdi zmdi-washing-machine tile-icon"></i>
                                    </article>
                                    <article class="full-width tile">
                                        <div class="tile-text">
                                            <span class="text-condensedLight">
                                                47<br>
                                                <small>Sales</small>
                                            </span>
                                        </div>
                                        <i class="zmdi zmdi-shopping-cart tile-icon"></i>
                                    </article>
                                </section>
                                <section class="full-width" style="margin: 30px 0;">
                                    <h3 class="text-center tittles">RESPONSIVE TIMELINE</h3>
                                    <!-- TimeLine -->
                                    <div id="timeline-c" class="timeline-c">
                                        <div class="timeline-c-box">
                                            <div class="timeline-c-box-icon bg-info">
                                                <i class="zmdi zmdi-twitter"></i>
                                            </div>
                                            <div class="timeline-c-box-content">
                                                <h4 class="text-center text-condensedLight">Tittle timeline</h4>
                                                <p class="text-center">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis rerum iure nostrum dolor. Quo totam possimus, ex, sapiente rerum vel maxime fugiat, ipsam blanditiis veniam, suscipit labore excepturi veritatis.
                                                </p>
                                                <span class="timeline-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>05-04-2016</span>
                                            </div>
                                        </div>
                                        <div class="timeline-c-box">
                                            <div class="timeline-c-box-icon bg-success">
                                                <i class="zmdi zmdi-whatsapp"></i>
                                            </div>
                                            <div class="timeline-c-box-content">
                                                <h4 class="text-center text-condensedLight">Tittle timeline</h4>
                                                <p class="text-center">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis rerum iure nostrum dolor. Quo totam possimus, ex, sapiente rerum vel maxime fugiat, ipsam blanditiis veniam, suscipit labore excepturi veritatis.
                                                </p>
                                                <span class="timeline-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>06-04-2016</span>
                                            </div>
                                        </div>
                                        <div class="timeline-c-box">
                                            <div class="timeline-c-box-icon bg-primary">
                                                <i class="zmdi zmdi-facebook"></i>
                                            </div>
                                            <div class="timeline-c-box-content">
                                                <h4 class="text-center text-condensedLight">Tittle timeline</h4>
                                                <p class="text-center">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis rerum iure nostrum dolor. Quo totam possimus, ex, sapiente rerum vel maxime fugiat, ipsam blanditiis veniam, suscipit labore excepturi veritatis.
                                                </p>
                                                <span class="timeline-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>07-04-2016</span>
                                            </div>
                                        </div>
                                        <div class="timeline-c-box">
                                            <div class="timeline-c-box-icon bg-danger">
                                                <i class="zmdi zmdi-youtube"></i>
                                            </div>
                                            <div class="timeline-c-box-content">
                                                <h4 class="text-center text-condensedLight">Tittle timeline</h4>
                                                <p class="text-center">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis rerum iure nostrum dolor. Quo totam possimus, ex, sapiente rerum vel maxime fugiat, ipsam blanditiis veniam, suscipit labore excepturi veritatis.
                                                </p>
                                                <span class="timeline-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>08-04-2016</span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                           
                </main>

                
                <footer class="footer">
                   <div class="footer__copyright">&copy; 2019 MTH</div>
                   <div class="footer__signature">BY PJJS</div>
                </footer>
        </div>
        
</body>
<router-outlet></router-outlet>
