@mixin body {
    margin: 0;
    padding: 0;
}

@mixin bg-covertint ($r-from, $g-from, $b-from, $r-to, $g-to, $b-to, $alpha, $imgurl, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
	background: -webkit-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
	background:    -moz-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:      -o-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:         linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;  
}

@mixin center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin headers {
	font-size: 70px;
	text-align: center;
	margin-bottom: 10px;
	height: 50%;
	@include center-horizontal;
}

@mixin tables($ancho, $color) 
{
    .tablediv
    {
        position: absolute;
        top: 12%;
        left: $ancho;
        right: 5%;
        height: 500px; 
        overflow: auto;
    }
    .table 
    {
        margin-bottom: 20px;
        border-collapse: collapse;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        border: none;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
        width: 100%;
    }
    .table th, .table td 
    {
        box-shadow: inset 0 -1px rgba(253, 252, 252, 0.25), 
                    inset 0 1px rgba(0,0,0,0.25);
    }
    .table th 
    {
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        padding: 1em;
        color: rgba(255, 251, 251, 0.986);
        text-shadow: 0 0 1px rgba(0,0,0,0.1);
        font-size: 1.5em;
    }
    .table td 
    {
        color: #f7f7f7;
        padding: 0.7em 1em 0.7em 1.15em;
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        font-size: 1.4em;
        text-align: center;
    }
    .table tr 
    {
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
    }
    .table-1 
    {
        background: $color;
    }
    .table-1 tr:hover 
    {
        background: rgba(0,0,0,0.19);
    }
}

@mixin sidebar($color) 
{
    * 
    {
        box-sizing: border-box;
    }
    .sidebar 
    {
        border-right: 1px solid rgba(255, 255, 255, .4);
        background-image: url('../../assets/sideBar-font.jpg');
        position: absolute;
        top: 5%;
        left: 0;
        bottom: 0;
        float: left;
        width: 250px;
        height: 100%;
        padding: 30px;
        transform: translate(-100%);
        transition: transform .2s linear;
        box-shadow: 3px 0 5px rgba(0, 0, 0, .5);
    }
    .sidebar:hover {transform: translate(0);}
    .sidebar:hover .label {opacity: 0;}
    .label 
    {
        width: 25px;
        height: 100%;
        background: $color;
        position: absolute;
        right: -25px;
        top: 0;
        box-shadow: 3px 0 5px rgba(0, 0, 0, .5);
        transition: opacity .2s linear;
    }
    img 
    {
        width: 50%;
        left: 25%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin buttons($color1, $text) 
{
    a
    {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: $color1;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
    a:hover
    {
        color: $text;
        background: $color1;
        box-shadow: 0 0 10px $color1, 0 0 40px $color1, 0 0 80px $color1;
        transition-delay: 1s;
    }
    a span
    {
        position: absolute;
        display: block;
    }
    a span:nth-child(1)
    {
        top: 0%;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $color1)
    }
    a:hover span:nth-child(1)
    {
        left: 100%;
        transition: 1s;
    }
    a span:nth-child(3)
    {
        bottom: 0%;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, $color1)
    }
    a:hover span:nth-child(3)
    {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    a span:nth-child(2)
    {
        top: -100%;
        right: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $color1)
    }
    a:hover span:nth-child(2)
    {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    a span:nth-child(4)
    {
        bottom: -100%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, $color1)
    }
    a:hover span:nth-child(4)
    {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
}

@mixin options($color) 
{
    .options
    {
        box-shadow: 2px 2px 2.7px 2.7px $color;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 2px;
    }
    div
    {
        position: absolute;
        top: 15%;
        left: 10%;
    }
    select{
        // padding: 10px;
        // border-radius: 5px;
        // margin-top: 10px;
        // margin-bottom: 12px;
        border-radius: 15%;
        background: $light_blue;
        color: #fff;
        padding: 10px;
        width: 250px;
        height: 50px;
        border: none;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(0,0,0,.5);
        outline: none;
        text-align: center;
    }

    strong{
        font-size: 16px;
    }
}