@mixin bg-covertint ($r-from, $g-from, $b-from, $r-to, $g-to, $b-to, $alpha, $imgurl, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
	background: -webkit-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
	background:    -moz-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:      -o-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:         linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;  
}

@mixin center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin headers {
	font-size: 70px;
	text-align: center;
	margin-bottom: 10px;
	height: 50%;
	@include center-horizontal;
}

@mixin tables($ancho, $color) 
{
    .tablediv
    {
        position: absolute;
        top: 12%;
        left: $ancho;
        right: 5%;
        height: 500px; 
        overflow: auto;
    }
    .table 
    {
        margin-bottom: 20px;
        border-collapse: collapse;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        border: none;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
        width: 100%;
    }
    .table th, .table td 
    {
        box-shadow: inset 0 -1px rgba(253, 252, 252, 0.25), 
                    inset 0 1px rgba(0,0,0,0.25);
    }
    .table th 
    {
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        padding: 1em;
        color: rgba(255, 251, 251, 0.986);
        text-shadow: 0 0 1px rgba(0,0,0,0.1);
        font-size: 1.5em;
    }
    .table td 
    {
        color: #f7f7f7;
        padding: 0.7em 1em 0.7em 1.15em;
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        font-size: 1.4em;
        text-align: center;
    }
    .table tr 
    {
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
    }
    .table-1 
    {
        background: $color;
    }
    .table-1 tr:hover 
    {
        background: rgba(0,0,0,0.19);
    }
}

@mixin sidebar($color) 
{
    * 
    {
        box-sizing: border-box;
    }

    body{
        height: 100%;
    }
    .sidebar 
    {
        border-right: 1px solid rgba(255, 255, 255, .4);
        // background-image: url('../../assets/fondo1.jpg');           //NO SE SI PONER IMAGEN :V
        background: $silver_glass;
        position: fixed;
        float: left;
        top: 0;
        left: 0;
        float: left;
        width: 300px;
        height: 100%;
        padding: 30px;
        transform: translate(-100%);
        transition: transform .2s linear;
        box-shadow: 3px 0 5px rgba(0, 0, 0, .5);
    }
    .sidebar:hover {transform: translate(0);}
    .sidebar:hover .label {opacity: 0;}
    .label 
    {
        width: 25px;
        height: 100%;
        background: $color;
        position: absolute;
        right: -25px;
        top: 0;
        box-shadow: 3px 0 5px rgba(0, 0, 0, .5);
        transition: opacity .2s linear;
    }
    img 
    {
        width: 50%;
        left: 25%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin buttons($color1, $text) 
{
    a
    {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: $color1;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.2s;
    }
    a:hover
    {
        color: $text;
        background: $color1;
        box-shadow: 0 0 10px $color1, 0 0 40px $color1, 0 0 80px $color1;
        transition-delay: 2s;
    }
    a span
    {
        position: absolute;
        display: block;
    }
    a span:nth-child(1)
    {
        top: 0%;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $color1)
    }
    a:hover span:nth-child(1)
    {
        left: 100%;
        transition: 1s;
    }
    a span:nth-child(3)
    {
        bottom: 0%;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, $color1)
    }
    a:hover span:nth-child(3)
    {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    a span:nth-child(2)
    {
        top: -100%;
        right: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $color1)
    }
    a:hover span:nth-child(2)
    {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    a span:nth-child(4)
    {
        bottom: 0%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, $color1)
    }
    a:hover span:nth-child(4)
    {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
}

@mixin options($color) 
{
    .options
    {
        box-shadow: 2px 2px 2.7px 2.7px $color;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 2px;
    }
    div
    {
        position: absolute;
        top: 15%;
        left: 10%;
    }
    select{
        background: $light_blue;
        color: #fff;
        padding: 10px;
        width: 250px;
        height: 50px;
        border: none;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(0,0,0,.5);
        outline: none;
        text-align: center;
    }

    strong{
        font-size: 16px;
    }
}

@mixin modal {
    // html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
    // html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
    // header{display:block}summary{display:list-item}
    // html,html{overflow-x:hidden}

    header
    {
        position: relative;
        display:block;
        // background: red;
    }
    .w3-modal
    {
        z-index:3;
        display:none;
        padding-top:0;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgba(0, 0, 0, 0.75)
    }
    .w3-modal-content
    {
        margin:auto;
        background-color:rgba(255, 255, 255, 0.75);
        position:absolute;
        // left: 50%;
        padding:0;
        outline:0;
        width:1000px;
        height: 465px;
    }
    .w3-display-topright
    {
        position:absolute;
        right:0;
        top:0;
        background: rgba(255, 0, 0, 0.75);
        padding: 2%
    }
    .optione 
    {
        position: absolute;
        a{
            position: absolute;
            box-sizing: border-box;
            right: 10%;
            bottom: -10;
        }  
    }
}
@mixin w3modal {
    .w3-modal{
        .w3-modal-content{
            background-image: url("../../../assets/fontLogin.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            header{
                h2{
                    margin-left: 38%;
                }
            }
            .optione{
                position: absolute;
                top: 3%;
                left: 5%;
                margin-left: 13%;
                width: 600px;
                box-shadow: 2px 2px 2.7px 2.7px ;
                padding: 40px;
                box-sizing: border-box;
                border-radius: 2px;
                
                img{
                position: absolute;
                width: 200px;
                height: 200px;
                margin-left: 50%;

                }

                .but{
                    margin-top: 3%;
                    margin-bottom: 0%;
                    margin-left: 72%;
                    box-sizing: border-box;
                    position: relative;
                        color: $silver;
                        background: $blacks;
                        box-shadow: 0 0 10px $gray, 0 0 40px $gray, 0 0 80px $gray;
                        transition-delay: 2s;
                    
        
                }
        }

        

    }
   
}
}

@mixin wmodal {
    
.w-modal{
    z-index:3;
      display:none;
      padding-top:0;
      position:fixed;
      left:0;
      top:0;
      width:100%;
      height:100%;
      overflow:auto;
      background-color:rgba(0, 0, 0, 0.75);
  .w3-modal-content{
      background-image: url("../../../assets/fontLogin.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 800px;
      header{
          h2{
              margin-left: 38%;
          }
      }
      .optione{
          bottom: 10px;
          position: absolute;
          top: 10%;
          left: 5%;
          margin-left: 13%;
          width: 650px;
          box-shadow: 2px 2px 2.7px 2.7px ;
          padding: 50px;
          box-sizing: border-box;
          border-radius: 2px;
          
         
          input{
            height: 7%;   
              margin-top: 3%;
              margin-bottom: 0%;
              left: 15%;
              box-sizing: border-box;
              position: relative;
                  color: $black;
                  background: $white;
                  box-shadow: 0 0 10px $white, 0 0 40px $white, 0 0 80px $white;
                  transition-delay: 2s;

              }

          .but{
              margin-top: 3%;
              margin-bottom: 0%;
              margin-left: 72%;
              box-sizing: border-box;
              position: relative;
                  color: $silver;
                  background: $blacks;
                  box-shadow: 0 0 10px $gray, 0 0 40px $gray, 0 0 80px $gray;
                  transition-delay: 2s;
              
  
          }
  }
}
}
}