<body>
  <div class="sidebar">
      <div class="label">
        <img src="../../assets/sidebar-img.png" alt="" />
      </div>
      <br>

      <a routerLink="ordentrabajo">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        ORDEN DE TRABAJO
      </a>
      <hr>
      <a routerLink="personal">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        PERSONAL
      </a>
      <!-- <hr>
      <a routerLink="inventario">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        INVENTARIO
      </a> -->
  </div>
</body>