@import "../../../../scss/variables";
@import "../../../../scss/mixins";

@include tables(5%, $medium_blue);

body
{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    margin: 0%;
    padding: 0%;
}