@mixin text-body{
    font-family: 'Dancing Script', cursive;
    font-size:  17px;
    color: $pure_white;
    font-weight: $light;
}
@mixin center-vertical {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
@mixin center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;

}