$black:#333333;
$pure_white:#ffffff;
$light:100;
$pure_white:#ffffff;
$regular:300;
$ultra_bold:900;
$marron:#614014;
$white:#fff;
$claron:#f29718;
$negro:#000;
$cafe:#48351A;
$letra:'Libre Baskerville', serif;
$source_titles: fantasy;
$blue:#235380;